<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PP2 Urlaub Übersicht</title>
</head>
<body>
<div class="container">
    <h1>Übersicht: Freistellungen</h1>

    <h2>Urlaubszeiten</h2>
    <table id="urlaub_table" class="table mb-5">
        <thead>
        <tr>
            <th>Datum</th>
            <th>von</th>
            <th>bis</th>
            <th>Zeit (min)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>


        </tbody>
        <tfoot>
        <tr>
            <td><strong>Summe</strong></td>
            <td></td>
            <td></td>
            <td><strong>0</strong></td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Resturlaub</strong></td>
            <td></td>
            <td></td>
            <td><strong>240</strong></td>
        </tr>
        </tfoot>
    </table>
    <h2 id="klausur">Klausuren</h2>
    <p class="alert alert-warning">Sie sind für keine Klausuren
        angemeldet.</p>


    <div class="text-center pt-5">
        <a href="/urlaubanmeldung">
            <button class="btn bg-blue mx-5 text-white p-3">Urlaub anmelden</button>
        </a>
        <a href="/klausuranmeldung">
            <button class="btn bg-yellow mx-5 p-3">Klausur anmelden</button>
        </a>
    </div>

</body>
</html>