<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PP2 Urlaub Übersicht</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/jquery.datetimepicker.min.css}" href="/css/jquery.datetimepicker.min.css">
    <link rel="stylesheet" th:href="@{/css/site.css}" href="/css/site.css">
</head>

<body>
<div class="container">

    <h1>Übersicht: Freistellungen</h1>

    <h2>Urlaubszeiten</h2>

    <div class="error-msg text-danger" th:text="${urlaubsstornoerror}"></div>

    <table id="urlaub_table" class="table mb-5">
        <thead>
        <tr>
            <th style="width: 20%">Datum</th>
            <th style="width: 20%">von</th>
            <th style="width: 20%">bis</th>
            <th style="width: 20%">Zeit (min)</th>
            <th style="width: 20%"></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="u : ${urlaube}">
            <td th:text="${#temporals.format(u.start().toLocalDate(), 'dd.MM.yyyy')}">Datum</td>
            <td th:text="${u.start().toLocalTime()}">von</td>
            <td th:text="${u.ende().toLocalTime()}">bis</td>
            <td th:text="${u.dauerInMin()}">Zeit (min)</td>
            <td>
                <form name="urlaubsstornierung" method="post" th:action="@{/urlaubsstornierung}">
                    <input type="hidden" name="datum" th:value="${u.start().toLocalDate()}">
                    <input type="hidden" name="von" th:value="${u.start().toLocalTime()}">
                    <input type="hidden" name="bis" th:value="${u.ende().toLocalTime()}">
                    <button name="stornierungsbutton" class="btn btn-danger">Stornieren
                    </button>
                </form>
            </td>
        </tr>
        </tbody>

        <tfoot>
        <tr>
            <td><strong>Summe</strong></td>
            <td></td>
            <td></td>
            <td><strong th:text="${urlaubssumme}"></strong></td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Resturlaub</strong></td>
            <td></td>
            <td></td>
            <td><strong th:text="${resturlaub}"></strong></td>
            <td></td>
        </tr>
        </tfoot>
    </table>


    <h2 id="klausur">Klausuren</h2>

    <div class="error-msg text-danger" th:text="${klausurstornoerror}"></div>

    <div>
        <p>Sie sind für folgende Klausuren angemeldet:</p>
        <table name="angemeldete_klausuren" class="table mb-5">
            <thead>
            <tr>
                <th style="width: 20%">Veranstaltung</th>
                <th style="width: 20%">Datum</th>
                <th style="width: 20%">Klausurzeitraum</th>
                <th style="width: 20%">Freistellungszeitraum</th>
                <th style="width: 20%"></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="k : ${klausuren}">
                <td th:text="${k.getName()}"></td>
                <td th:text="${#temporals.format(k.getStart().toLocalDate(), 'dd.MM.yyyy')}"></td>
                <td><span th:text="${k.getStart().toLocalTime()}"></span>
                    <span> - </span>
                    <span th:text="${k.getEnde().toLocalTime()}"></span></td>
                <td><span th:text="${k.startFreistellungBerechnen().toLocalTime()}"></span>
                    <span> - </span>
                    <span th:text="${k.endeFreistellungBerechnen().toLocalTime()}"></span></td>
                <td>
                    <form method="post"
                          th:action="@{/klausurstornierung}">
                        <input type="hidden" name="lsfId" th:value="${k.getLsfId()}">
                        <button class="btn btn-danger">Stornieren</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-center text-center pt-5">
        <div class="col-lg-3">
            <a href="/urlaubsbuchung">
                <img src="/assets/img/ibimsUrlaubBuchen.png" class="img-thumbnail">
                <br>
                <button class="btn btn-primary mx-5 p-3">Urlaub buchen</button>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="/klausuranmeldung">
                <img src="/assets/img/ibimsKlausurAnmelden.png" class="img-thumbnail">
                <br>
                <button class="btn btn-secondary mx-5 p-3">Klausur anmelden</button>
            </a>
        </div>
    </div>

</div>
</body>
</html>